@model LoginInputModel

@{
    ViewData["Title"] = "Login";
}

@* <h1>@ViewData["Title"]</h1> *@
@if (Model == null)
{
    <p>Model is null</p>
} else {
    <div class="background-container">
        <div class="login-container">
            <div class="login-form">
                <h2 class="text-class">HelpNow</h2>
                <form class="container" method="post" asp-controller="Account" asp-action="Login">
                    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
                    <b>Username</b>
                    <input type="text" id="username" name="Username" value="@Model.Username" />

                    <b>Password</b>
                    <input type="password" id="password" name="Password" value="@Model.Password" />

                    <button type="submit" name="button" value="login" class="button-login" (click)="openNewWindow()">Sign In</button>
                    @* <button type="button" class="button-login" (click)="openNewWindow()">Sign in with Connect</button> *@
                </form>
            </div>
        </div>
    </div>
    @* <form class="container" method="post" asp-controller="Account" asp-action="Login"> *@
        @* <div class="bg-img">
            <h1>HelpNow</h1>

            <form class="container" method="post" asp-controller="Account" asp-action="Login">

                <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
                <b>Username</b>
                <input type="text" id="username" name="Username" value="@Model.Username" />

                <b>Password</b>
                <input type="password" id="password" name="Password" value="@Model.Password" />

                <button type="submit" name="button" class="button"  value="login">Login</button>
            </form>
        </div> *@
        @* <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="Username" value="@Model.Username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" value="@Model.Password" />
        </div> *@
        @* <div>
            <input type="checkbox" id="rememberLogin" name="RememberLogin" />
            <label for="rememberLogin">Remember me</label>
        </div> *@
        @* <button type="submit" name="button" value="login">Login</button>
        <button type="submit" name="button" value="cancel">Cancel</button> *@
    @* </form> *@
}
